@model RegisterUserViewModel

@{
    ViewBag.Title = "ثبت کاربر جدید";
}


<div class="container">
    <div class="p-2 m-3">
        <h3 class="">ثبت کاربر جدید</h3>
    </div>

    <form class="card card-body" asp-area="admin" asp-controller="User" asp-action="Add" method="post">
        <div class="form-group form-row mb-20">
            <label class="col-4" asp-for="Name"></label>
            <input class="form-control col-8" asp-for="Name"/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-info pr-4 pl-4 pt-2 pb-2" value="ثبت کاربر"/>
        </div>
    </form>
</div>